@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

.axis-label {
    font-size: 1rem;
    stroke: none;
    fill: purple;
}

@layer components {

    svg,
    .axis {
        @apply font-song;
    }

    .line-path {
        @apply stroke-[1.5];
    }

    .tick,
    .axis,
    .domain {
        @apply text-slate-900;
    }

    .dark .tick,
    .dark .axis,
    .dark .domain {
        @apply text-blue-600 font-semibold;
    }
}

.brush {
    fill: rgba(129, 174, 248, 0.1);
    stroke: none;
}

.brush-chart path {
    stroke-width: .8;
}

.brush .selection {
    fill: url(#brush_pattern);
}
