@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    stroke: #8956ff;
    fill: rgba(137, 86, 255, .2);
    font-family: 'Roboto', sans-serif;
}
.line-path {
    fill: none;
    stroke-width: 2;
}
.axis-label {
    font-size: 1rem;
    stroke: none;
    fill: purple;
}
.tick {
    stroke: none;
    fill: purple;
}
.brush {
    fill: rgba(129, 174, 248, 0.1);
    stroke: none;
}
.brush-chart path {
    stroke-width: .8;
}
.brush .selection {
    fill: url(#brush_pattern);
}
